<div class="container_home">
  <app-card
    gamePrice="R$ 129,90"
    gameCover="assets/bt-4.jpg"
    gameLabel="DIGITAL"
    gameType="DIGITAL | PS4"
  ></app-card>

  <app-card
    gamePrice="R$ 279,90"
    gameCover="assets/bt-1.jpg"
    gameLabel="EXCLUSIVE"
    gameType="DISC | DIGITAL | PS5"
  ></app-card>

  <app-card
    gameCover="assets/ac-cover.jpg"
    gamePrice="R$ 79,90"
    gameLabel="OLD"
    gameType=" DIGITAL | PS3 PS4 PS5"
  ></app-card>

  <app-card
    gamePrice="R$ 179,90"
    gameCover="assets/bt-hardline.jpg"
    gameLabel="NEW"
    gameType="DIGITAL | PS3 PS4 PS5"
  ></app-card>
</div>
